altair
asgiref
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
distlib
Django
filelock
flask
fonttools
gitdb
GitPython
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
packaging
pandas
pillow
platformdirs
protobuf
pyarrow
pydeck=
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
six=
smmap
sqlparse
streamlit
tenacity
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
virtualenv
watchdog
wcwidth
webencodings
Werkzeug
